## Assignment

### 1. Write a Python program to add an item to a tuple.

In [2]:
add_item = input()
tuple_1 = tuple(add_item)
print(tuple_1)

('m', 'i', 'n', 'a')

#### 2. Write a Python program to sum all the items in a list.

In [8]:
my_list = [1,2,3,4,5,6]
sum = 0
for i in my_list:
    sum += i
print("The list summation equal to:{} ".format(sum))

The list summation equal to:21

#### 3. Write a Python program to multiply all the items in a list.

In [10]:
my_list = [1,2,3,4,5,6]
mul = 1
for i in my_list:
    mul *= i
print("The list multiplication equal to:{} ".format(mul))

The list multiplication equal to:720

#### 4. Write a Python program to get the smallest number from a list.

In [20]:
my_list1 = [10,15,2,9,4,25]
my_list1.sort()
print(my_list1[0])

2

#### 5. Write a Python program to get the largest number from a list.

In [26]:
my_list1 = [10,15,2,9,4,25]
my_list1.sort()
my_list1.reverse()
print(my_list1[0])

25

#### 6. Write a Python program to count the number of strings from a given list of strings.

In [37]:
my_list2 = ["Machine","Learning","Amit","Egypt"]
y = 0
for i in my_list2:
    y = y+1

print(y)

4

#### 7. Write a Python program to clone or copy a list

In [38]:
my_list2 = ["Machine","Learning","Amit","Egypt"]

for i in my_list2:
    print(i)

Machine
Learning
Amit
Egypt

#### 8. Write a Python program to remove item(s) from a given set.

In [41]:
my_set = {1,2,3,4,5}
item = list(my_set)
item.remove(3)
item

[1, 2, 4, 5]

#### 9. Write a Python program to check if a set is a subset of another set.

In [44]:
set_1 = {1,2,3}
set_2 = {1,2,3,4,5}
if set_1 <= set_2:
    print("set1 is a subset of set2")
else: 
    print("set1 is not a subset of set2")

set1 is a subset of set2

#### 10. Write a Python program to remove all elements from a given set.

In [46]:
set_2 = {1,2,3,4,5}
set_2.clear()
print(set_2)

set()

#### 11. Write a Python program to find the maximum and minimum values in a set.

In [66]:
set_2 = {10,2,3,49,51}
# convert to list
list_2 = list(set_2)
list_2.sort()
print(f"Minimum number of the Set is equal to: {list_2[0]}")
list_2.reverse()
print(f"Maximum number of the set is eqal to: {list_2[0]}")

Minimum number of the Set is equal to: 2
Maximum number of the set is eqal to: 51

#### 12. Write a Python program to find the index of an item in a tuple.

In [138]:
my_tuple = ("Machine","Learning","Amit","AI", "Egypt")
item = "AI"

if item in my_tuple:
    index = my_tuple.index(item)
    print(f"Item '{item}' is at index {index}.")
    
else:
    print(f"item {item} is not in the tuple list")

Item 'AI' is at index 3.

#### 13. Write a Python program to convert a tuple to a dictionary.

In [143]:
my_tuple = (("key_1","Machine"),("key_2","Learning"),("key_3","Amit"),("key_4","AI"), ("key_5","Egypt"))
my_dic = dict(my_tuple)
my_dic

{'key_1': 'Machine',
 'key_2': 'Learning',
 'key_3': 'Amit',
 'key_4': 'AI',
 'key_5': 'Egypt'}

#### 14. Write a Python program to unzip a list of tuples into individual lists.

In [163]:
my_tuple = [("key_1","Machine"),("key_2","Learning"),("key_3","Amit"),("key_4","AI"), ("key_5","Egypt")]
my_dic = dict(my_tuple)
my_list = list(my_dic)
print(my_list)
my_dic.items()
for x,y in my_dic.items():
    list_2 = list(y)
    print(list_2)

['key_1', 'key_2', 'key_3', 'key_4', 'key_5']
['M', 'a', 'c', 'h', 'i', 'n', 'e']
['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']
['A', 'm', 'i', 't']
['A', 'I']
['E', 'g', 'y', 'p', 't']

#### 15. Write a Python program to reverse a tuple.

In [165]:
my_tuple = ("Machine","Learning","Amit","AI", "Egypt")
rev_tuple = my_tuple[::-1]
print(rev_tuple)

('Egypt', 'AI', 'Amit', 'Learning', 'Machine')

#### 16. Write a Python program to convert a list of tuples into a dictionary.

In [167]:
my_list = [("key_1","Machine"),("key_2","Learning"),("key_3","Amit"),("key_4","AI"), ("key_5","Egypt")]
my_dic = dict(my_list)
my_dic

{'key_1': 'Machine',
 'key_2': 'Learning',
 'key_3': 'Amit',
 'key_4': 'AI',
 'key_5': 'Egypt'}

#### 17. Write a Python program to replace the last value of tuples in a list.

In [185]:
Sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
x = 100
for i in Sample_list:
    updated_list = [i[:-1],(x)]
    print(updated_list)

[(10, 20), 100]
[(40, 50), 100]
[(70, 80), 100]

#### 18.  Write a Python program to sort a tuple by its float element.

In [ ]:
data = [('item1', 10.5), ('item2', 5.75), ('item3', 7.2)]

[('item1', 10.5), ('item2', 5.75), ('item3', 7.2)]